Repository yl-ang/NsStayFit, pull requests merged in 2022-06, with the labels that each got.

#33 Create github-actions-demo.yml
  .github/workflows/github-actions-demo.yml
Labels: type.Task

#32 Add basic backbone code
  .expo-shared/assets.json
  .gitignore
  App.js
  README.md
  app.json
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash.png
  babel.config.js
  frontend/AppNavigator.js
  frontend/screens/homePage.js
  frontend/screens/ipptSubmissionPage.js
  frontend/screens/loginPage.js
  frontend/screens/nsFitPage.js
  frontend/screens/registrationPage.js
  package-lock.json
  package.json
Labels: type.Task, priority.High

#35 Add tailwind config
  App.js
  frontend/screens/homePage.js
  input.css
  package-lock.json
  package.json
  tailwind.config.js
  tailwind.css
  tailwind.json
Labels: type.Task

#38 Improve Main Page
  frontend/AppNavigator.js
  frontend/screens/homePage.js
  package-lock.json
  package.json
Labels: type.Task, priority.High, IPPT

#39 Create GUI for "IPPT-Submission" page
  frontend/screens/ipptSubmissionPage.js
  package-lock.json
  package.json
  tailwind.css
  tailwind.json
Labels: type.Story, priority.High, IPPT

#43 Add ippt main page logic
  backend/homepage/GetIpptScore.js
  backend/homepage/GetRandomFitnessQuote.js
  data/homepage/fitnessQuotes.json
  frontend/screens/homePage.js
  package-lock.json
  yarn.lock
Labels: type.Task, priority.High, IPPT

#44 Add validation and workout session plan
  frontend/screens/nsFitPage.js
  package-lock.json
  package.json
  tailwind.css
  tailwind.json
  yarn.lock
Labels: type.Story, priority.High, NSFIT

#45 Updated Registration
  app.json
  frontend/firebase.js
  frontend/screens/registrationPage.js
  package-lock.json
  package.json
  yarn.lock
Labels: priority.Medium

#42 Add video upload feature and form validation
  frontend/AppNavigator.js
  frontend/screens/imagePicker.js
  frontend/screens/ipptSubmissionPage.js
  frontend/screens/validationSchema.js
  package-lock.json
  package.json
  tailwind.css
  tailwind.json
  yarn.lock
Labels: type.Story, priority.High, IPPT

#53 Add styling
  firebase.js
  frontend/AppNavigator.js
  frontend/firebase.js
  frontend/screens/loginPage.js
  frontend/screens/nsFitPage.js
  package-lock.json
  package.json
  tailwind.css
  tailwind.json
  yarn.lock
Labels: enhancement, type.Task, priority.High, NSFIT, GENERAL

#54 Create logic for IPPT calculation and improve UI for IPPT submission
  assets/images/pushup.png
  assets/images/situp.png
  frontend/compenents/ippt.js
  frontend/images/ns_stay_fit.png
  frontend/images/pushup.png
  frontend/images/situp.png
  frontend/screens/ipptSubmissionPage.js
  frontend/screens/loginPage.js
  tailwind.css
  tailwind.json
Labels: type.Story, type.Task, priority.High, IPPT

#58 Add validation and change icon for login page
  App.js
  frontend/images/ns_stay_fit.png
  frontend/images/ns_stayfit_icon.png
  frontend/screens/loginPage.js
  frontend/screens/validationSchema.js
  tailwind.css
  tailwind.json
Labels: type.Task, priority.Medium
